body {
    color: white;
    text-shadow: 2px 2px #000;
    font-family: 'Minecraftia', sans-serif;
    background-color: #000;
}

#weather-info-container, #forecast-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border: 2px solid #3e3e3e;
    border-radius: 8px;
    margin-top: 1rem;
    box-shadow: 0 0 10px #333;
}

.forecast-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.forecast-day {
    text-align: center;
    margin: 0.5rem;
    background-color: rgba(30, 30, 30, 0.8);
    padding: 0.5rem;
    border-radius: 5px;
    width: 100px;
    box-shadow: 0 0 5px #000;
}

img {
    image-rendering: pixelated; /* ให้รูปภาพดูเป็นสไตล์ Minecraft */
}
